@import url('fonts.css');

body {
	background: #FFFF99;
	width: 100%;
	margin: auto;
	font-family: Imperator;
}
header {
	height: 150px;
	width: 100%;
}
.banner {
	height: 70%;
	width: 100%;
}
.image-scroller{
	padding:1%;
	width:58%;
	margin:auto;
}
nav {
	
	background-image: linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -o-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.33, rgb(147,15,191)),
	color-stop(0.67, rgb(159,40,189)),
	color-stop(0.84, rgb(144,36,171))
	);
}
.side-menu, .result, .tile, .content{
	background-image: linear-gradient(bottom, rgb(220,150,245) 33%, rgb(233,163,250) 67%, rgb(234,156,255) 84%);
	background-image: -o-linear-gradient(bottom, rgb(220,150,245) 33%, rgb(233,163,250) 67%, rgb(234,156,255) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(220,150,245) 33%, rgb(233,163,250) 67%, rgb(234,156,255) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(220,150,245) 33%, rgb(233,163,250) 67%, rgb(234,156,255) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(220,150,245) 33%, rgb(233,163,250) 67%, rgb(234,156,255) 84%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.33, rgb(220,150,245)),
	color-stop(0.67, rgb(233,163,250)),
	color-stop(0.84, rgb(234,156,255))
	);	
}
nav, .side-menu, .result, .tile,.alphaList li:hover {
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0.5px #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
}
.side-menu h3, .result h3, .tile h3{
	text-align:left;
	border-bottom: 1px solid #663399;
	background-image: linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -o-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.33, rgb(147,15,191)),
	color-stop(0.67, rgb(159,40,189)),
	color-stop(0.84, rgb(144,36,171))
	);
	padding:3%;
	margin:0;
	color:white;	
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
nav {

	width: 70%;
	margin: auto;
	height: 30%;
	color: white;
}
.user {
	position: absolute;
	right: -10px;
	float: right;
	width: 20%;
	height: 50px;
	background-image: url('../images/back.jpg');
	border-radius: 2px;
	margin-top: 20px;
}
.user .details {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
}
footer {
	height: 20%;
	width: 100%;
	background-image: url('../images/back_2.jpg');
	-webkit-box-shadow: inset 0px 2px 5px 1px #000;
	box-shadow: inset 0px 2px 5px 1px #000;
	margin-top: 2%;
}
.content {
	margin: auto;
	margin-top: 40px;
	height: 50%;
	width: 70%;
	border-radius: 5px;
	border: 1px solid #663399;
}
nav a {
	margin-top: 10px;
	font-size: 20px;
	
	text-decoration:none;
	/*text-shadow: 0.5px 0.7px 1px #858585;
	 -webkit-text-shadow: 0.5px 0.7px 1px #858585;
	 -moz-text-shadow: 0.5px 0.7px 1px #858585;
	 filter: dropshadow(color=#858585, offx=0.5, offy=0.7);*/
}

nav a:visited {
	color:white;
	text-decoration:none;
	/*text-shadow: 0.5px 0.7px 1px #858585;
	 -webkit-text-shadow: 0.5px 0.7px 1px #858585;
	 -moz-text-shadow: 0.5px 0.7px 1px #858585;
	 filter: dropshadow(color=#858585, offx=0.5, offy=0.7);*/
}

ul, li {
	list-style: none;
	right: 0;
	padding: 0 0 0 10px;
}
ul {
	text-align: center;
}
ul li {
	display: inline-block;
	margin-right: .75em;
	margin-top: 10px;
}
ul li.last {
	margin-right: 0;
}
.main-page-tiles h2 {
	text-align: center;
	font-family: Tangerine Regular;
	font-size: 40px;
}
.social {
	width: 20%;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 40%;
}
.social img {
	display: inline-block;
}
.search {
	float: right;
}
.tile-area {
	width: 70%;
	margin: auto;
	margin-top: 2%;
	height: 35%;
}
.tile {
	width: 40%;
	height: 100%;
	border: 1px solid #663399;

}

/*
 * Style for Events
 */
.events {
	width: 70%;
	margin: auto;
	margin-top: 3%;
}
.side-menu {
	width: 30%;
	float: left;
}
.result {
	width: 60%;
	float: right;
	height: 100%;
}

/*
 * Login Element
 */
.login {
	width: 50%;
	height: auto;
	padding: 2%;
}
.login input {
	width: 100%;
	padding: 2%;
}
.login h3 {

}

/*
 * Listing
 */
.alphaList{
	padding:1%;
}
.alphaList li{
	width:90%;
	margin:auto;
	padding:3%;
	cursor:pointer;
}
.alphaList li:not(:last-child){
	border-bottom:1px solid #663399;
}
.alphaList li:hover{
	background-image: linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -o-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(147,15,191) 33%, rgb(159,40,189) 67%, rgb(144,36,171) 84%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.33, rgb(147,15,191)),
	color-stop(0.67, rgb(159,40,189)),
	color-stop(0.84, rgb(144,36,171))
	);
	color:white;
	cursor:hand;
}


@charset "utf-8";
/* CSS Document */
.awesome, .awesome:visited {
	background: #222 url(http://zurb.com/images/alert-overlay.png) repeat-x;
	border: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin:0 10px 10px 10px;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	padding: 5px 10px 6px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.awesome:hover {
	background-color: #111;
	color: #fff;
}
.awesome:active {
	top: 1px;
}

.small.awesome, .small.awesome:visited {
	font-size: 11px;
}
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.large.awesome, .large.awesome:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}
.green.awesome, .green.awesome:visited {
	background-color: #91bd09;
}
.green.awesome:hover {
	background-color: #749a02;
}
.jungle.awesome, .jungle.awesome:visited {
	background-color:#693;
}
.jungle.awesome:hover {
	background-color:#360;
}
.blue.awesome, .blue.awesome:visited {
	background-color: #2daebf;
}
.blue.awesome:hover, .blue.awesome#current{
	background-color: #007d9a;
}

.myblue.awesome, .myblue.awesome:visited {
	background-color: #3333FF;
}
.myblue.awesome:hover, .myblue.awesome#current{
	background-color: #0033CC;
}

.red.awesome, .red.awesome:visited {
	background-color: #e33100;
}
.red.awesome:hover {
	background-color: #872300;
}
.magenta.awesome, .magenta.awesome:visited {
	background-color: #a9014b;
}
.magenta.awesome:hover {
	background-color: #630030;
}
.orange.awesome, .orange.awesome:visited {
	background-color: #ff5c00;
}
.orange.awesome:hover {
	background-color: #d45500;
}
.yellow.awesome, .yellow.awesome:visited {
	background-color: #ffb515;
}
.yellow.awesome:hover {
	background-color: #fc9200;
}

/*
Sizes: small, medium, large
Colors: Green, Blue, Red, Magenta, Orange, Yellow
Sample: <button class="large awesome blue" type="submit">Awesome Blue Button</button>
*/






/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.slider-wrapper { 
	width: 100%; 
}


.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
